*{
	box-sizing: border-box;
}

.container {
	margin-top: 50px;
}

#question{
	text-align: center;
}

.employee{
	width: 20%;
	float: left;
	padding: 5px;
}

.employee img{
	width: 100%;
}

.hidden{
	visibility: hidden;
}

.correct{
	background-color: green;
	opacity: .5;
}

.incorrect{
	background-color: red;
	opacity: .5;
}
